.cluster-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $primary-color;
  border-radius: 100%;

  background: rgba($primary-color, .65);
}
.cluster-marker-icon.highlighted {
  z-index: 1999 !important;

  border-color: $secondary-color;
  background: rgba($secondary-color, .65);
}

.cluster-marker-count {
  color: $white;

  text-align: center;

  font-size: 1rem;
}
