.cluster-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #0068CF;
  border-radius: 100%;

  background: #0068CF70;
}
.cluster-marker-icon.highlighted {
  z-index: 1999 !important;

  border-color: #E74D8E;
  background: #E74D8E70;
}

.cluster-marker-count {
  /* hide the number and find a better way to display it */
  display: none;

  color: #FFFFFF;

  text-align: center;

  font-size: 1rem;
}
