.cluster-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--primary-color);
  border-radius: 100%;

  background: rgba(var(--rgb-primary-color), .65);
}
.cluster-marker-icon.highlighted {
  z-index: 1999 !important;

  border-color: var(--secondary-color);
  background: rgba(var(--rgb-secondary-color), .65);
}

.cluster-marker-count {
  color: var(--white);

  text-align: center;

  font-size: 1rem;
}
