.location-marker-icon {
  i {
    color: $primary-color;

    padding: 1px;
  }

  &.highlighted {
    z-index: 1999 !important;

    i {
      color: $secondary-color;
    }
  }
}

.location-marker-popup {
  .location-marker-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .location-marker-popup__location-string {
    }

    .location-marker-popup__google-maps-link {
      align-self: end;
    }
  }
}

