.location-marker-icon > i {
  color: var(--primary-color);

  margin-top: -36px;
  padding: 1px;
}
.location-marker-icon.highlighted {
  z-index: 1999 !important;
}
.location-marker-icon.highlighted > i {
  color: var(--secondary-color);
}
