.leaflet-container {
  height: 100%;
  width: 100%;

  background: $light-grey;
}

.leaflet-control-attribution {
  overflow: hidden;
  white-space: nowrap;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    border-radius: 0 !important;
}
