html, body, #root {
  font-family: 'Roboto', sans-serif;

  height: 100%;
  width: 100%;

  margin: 0rem;
}

#app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;

  margin: 0rem;
}

#toggle-movie-info-btn {
  position: absolute;
  z-index: 2000; /* to appear over leaflet map */
  top: 1.5rem;
  right: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: rgb(33, 33, 33, 0.5);
  color: #FFFFFF;
  border: #FFFFFF 1px solid;

  font-size: 1.2rem;

  cursor: pointer;

  user-select: none;
}
#toggle-movie-info-btn:hover {
  background-color: rgb(33, 33, 33, 0.8);
}
@media only screen and (max-width: 575px) {
  #toggle-movie-info-btn {
    top: 1.5rem;
    right: 2rem;
  }

  #toggle-movie-info-btn.hide-movie-info {
    display: none;
  }
}

#map-container {
  position: relative;

  flex: 8;

  margin: 0rem;
}

#movie-info-container {
  flex: 2;

  margin: 0rem;

  height: 100%;
}
#movie-info-container.hidden {
  display: none;

  flex: 0;
}
@media only screen and (max-width: 575px) {
  #movie-info-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;

    height: 100%;
    width: 90%;
  }
}

input, input:focus {
  border: none;
  outline: none;
  outline-offset: 0;

  box-sizing: border-box;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
input[type="text"] {
  font-size: 1.5rem;
}
