html, body, #root {
  font-family: 'Roboto', sans-serif;

  height: 100%;
  width: 100%;

  margin: 0rem;

  --primary-color: #169C78;
  --rgb-primary-color: 22, 156, 120;
  --secondary-color: #EE6B22;
  --rgb-secondary-color: 238, 107, 34;

  --dark-grey: #212121;
  --rgb-dark-grey: 33, 33, 33;
  --light-grey: #333333;

  --white: #FFFFFF;
  --off-white: #D9D9D9;
}

#app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;

  margin: 0rem;
}

#toggle-movie-info-btn {
  position: absolute;
  z-index: 2000; /* to appear over leaflet map */
  top: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: rgba(var(--rgb-dark-grey), .50);
  color: var(--white);
  border: var(--white) 1px solid;

  font-size: 1.2rem;

  cursor: pointer;

  user-select: none;
}
#toggle-movie-info-btn:hover {
  background-color: rgba(var(--rgb-dark-grey), .80);
}
@media only screen and (min-width: 576px) {
  #toggle-movie-info-btn {
    right: 3rem;
  }
}
@media only screen and (max-width: 575px) {
  #toggle-movie-info-btn {
    top: 1.5rem;
    left: 1.5rem;
  }

  #toggle-movie-info-btn.hide-movie-info {
    display: none;
  }
}

#toggle-movie-info-btn > .fa-caret-left {
  margin-right: 1rem;
}
#toggle-movie-info-btn > .fa-caret-right {
  margin-left: 1rem;
}

#map-container {
  position: relative;

  flex: 8;

  margin: 0rem;
}

#movie-info-container {
  flex: 2;
  min-width: 25rem;

  margin: 0rem;

  height: 100%;
}
#movie-info-container.hidden {
  flex: 0;
  min-width: 0;

  background-color: var(--dark-grey);
}
@media only screen and (max-width: 575px) {
  #movie-info-container {
    position: absolute;
    top: 0;
    left: -90%;
    z-index: 2000;

    transform: translate(100%);
    transition: transform .2s ease-out;

    height: 100%;
    width: 90%;
    min-width: 0;
  }

  #movie-info-container.hidden {
    transform: translate(0);
  }

}

input, input:focus {
  border: none;
  outline: none;
  outline-offset: 0;

  box-sizing: border-box;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
input[type="text"] {
  font-size: 1.5rem;
}
