html, body, #root {
  font-family: 'Roboto', sans-serif;

  height: 100%;
  width: 100%;

  margin: 0rem;
}

#app-container {
  position:relative;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;

  overflow: hidden;

  margin: 0rem;
}

#toggle-movie-info-btn {
  position: absolute;
  z-index: 2000; /* to appear over leaflet map */
  top: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: rgba($dark-grey, .50);
  color: $white;
  border: $white 1px solid;

  font-size: 1.2rem;
  text-align: center;

  height: 2rem;
  width: 1.2rem;

  cursor: pointer;

  user-select: none;  // don't let the text be highlightable

  overflow: hidden;  // when animating don't let content in the button show outside

  transition: width $animation-time ease-out;

  @media #{$desktop-screen} {
    right: 100%;

    border-right: none;
  }

  @media #{$mobile-screen} {
    left: 100%;

    border-left: none;

    // don't display this button on mobile if the movie info panel is showing
    &.hide-movie-info {
      display: none;
    }
  }

  &:hover {
    background-color: rgba($dark-grey, .80);
    width: 7rem;

    // on desktop show the button text only when the button is hovered
    @media #{$desktop-screen} {
      #toggle-movie-info-btn-text {
        display: block;
      }

      .fa-caret-left {
        padding-right: 1rem;
      }

      .fa-caret-right {
        padding-left: 1rem;
      }
    }
  }

  #toggle-movie-info-btn-text {
    display: none;

    white-space: nowrap;
  }
}

#map-container {
  flex: 1;

  margin: 0rem;
}

#movie-info-container {
  position: absolute;
  top: 0;
  z-index: 2000;

  background-color: $dark-grey;

  margin: 0rem;

  width: 35rem;
  height: 100%;

  transform: translate(0);
  transition: transform $animation-time ease-out;

  @media #{$desktop-screen} {
    right: 0;

    &.hidden {
      transform: translate(100%);
    }
  }

  @media #{$mobile-screen} {
    left: 0;

    width: 90%;

    &.hidden {
      transform: translate(-100%);
    }
  }
}

input, input:focus {
  border: none;
  outline: none;
  outline-offset: 0;

  box-sizing: border-box;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
input[type="text"] {
  font-size: 1.5rem;
}
