#movie-info {
  box-shadow: inset 8px 0px 6px 0px #111111;

  box-sizing: border-box;

  overflow-y: scroll;

  height: 100%;
  width: 100%;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  background-color: #212121;
  color: #D9D9D9;

  scrollbar-color: #212121 #D9D9D9;
}
#movie-info::-webkit-scrollbar {
  background-color: #212121;
  width: .6rem;
}

#movie-info::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 1rem;
}
@media only screen and (max-width: 575px) {
  #movie-info {
    box-shadow: inset 0px 8px 6px 0px #111111;
  }
}

#movie-info.loading {
  text-align: center;
}

.movie-info-card {
  margin-bottom: 2rem;
}

.movie-info-title {
  color: #FFFFFF;

  cursor: pointer;
}

.movie-info-location {
}

.movie-info-location-name {
  cursor: pointer;
}

.movie-info-location-description {
}
