.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  /* border-bottom: var(--off-white) 1px solid; */
  background-color: var(--light-grey);

  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.movie-card-title {
  color: var(--white);

  margin-top: 0;
  margin-bottom: 1rem;

  cursor: pointer;
}

.movie-card-locations {
  margin: 0rem;
}
@media only screen and (max-width: 575px) {
  .movie-card-locations {
    padding-left: 1.5rem;
  }
}

.movie-card-location {
}

.movie-card-location-name {
  cursor: pointer;
}

.movie-card-location-description {
}

.movie-card-toggle-show-all-locations {
  align-self: center;

  margin-top: 1.5rem;

  text-align: center;

  cursor: pointer;
}
.movie-card-toggle-show-all-locations:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.movie-card-toggle-show-all-locations .fa {
  margin-left: .5rem;
}
