#movie-list {
  flex: 1;

  box-sizing: border-box;

  overflow-y: scroll;

  width: 100%;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  background-color: var(--dark-grey);
  color: var(--off-white);

  scrollbar-color: var(--dark-grey) var(--off-white);
}
#movie-list::-webkit-scrollbar {
  background-color: var(--dark-grey);
  width: .4rem;
}
#movie-list::-webkit-scrollbar-thumb {
  background-color: var(--off-white);
  border-radius: 1rem;
}
@media only screen and (max-width: 575px) {
  #movie-list {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#movie-list-loading {
  text-align: center;
}

#movie-list-load-more {
  text-align: center;

  margin-top: 1rem;

  cursor: pointer;
}
#movie-list-load-more:hover {
  color: var(--white);
  text-decoration: underline;
}
