#movie-list {
  flex: 1;
  box-shadow: inset 8px 0px 6px 0px #111111;

  box-sizing: border-box;

  overflow-y: scroll;

  width: 100%;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  background-color: #212121;
  color: #D9D9D9;

  scrollbar-color: #212121 #D9D9D9;
}
#movie-list::-webkit-scrollbar {
  background-color: #212121;
  width: .6rem;
}

#movie-list::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 1rem;
}
@media only screen and (max-width: 575px) {
  #movie-list {
    box-shadow: inset 0px 8px 6px 0px #111111;
  }
}

#movie-list.loading {
  text-align: center;
}

.movie-list-card {
  margin-bottom: 2rem;
}

.movie-list-title {
  color: #FFFFFF;

  cursor: pointer;
}

.movie-list-location {
}

.movie-list-location-name {
  cursor: pointer;
}

.movie-list-location-description {
}

#movie-list-loading {
  text-align: center;
}

#movie-list-load-more {
  text-align: center;

  cursor: pointer;
}
#movie-list-load-more:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
